@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?hcpov3');
  src:  url('../fonts/icomoon/icomoon.eot?hcpov3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?hcpov3') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?hcpov3') format('woff'),
    url('../fonts/icomoon/icomoon.svg?hcpov3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-objc-plain:before {
  content: "\e993";
}
.icon-typescript-original .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-typescript-original .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(0, 122, 204);
}
.icon-typescript-plain:before {
  content: "\e902";
}
.icon-knockout-plain:before {
  content: "\e903";
}
.icon-pug-original .path1:before {
  content: "\e904";
  color: rgb(239, 204, 163);
}
.icon-pug-original .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pug-original .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pug-original .path6:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(239, 204, 163);
}
.icon-pug-original .path7:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path8:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(86, 51, 43);
}
.icon-pug-original .path9:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(68, 40, 35);
}
.icon-pug-original .path10:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(68, 40, 35);
}
.icon-pug-original .path11:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(86, 51, 43);
}
.icon-pug-original .path12:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pug-original .path13:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(127, 74, 65);
}
.icon-pug-original .path14:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(68, 40, 35);
}
.icon-pug-original .path15:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(68, 40, 35);
}
.icon-pug-original .path16:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(68, 40, 35);
}
.icon-pug-original .path17:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path18:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pug-original .path19:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(51, 23, 18);
}
.icon-pug-original .path20:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(51, 23, 18);
}
.icon-pug-original .path21:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pug-original .path22:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pug-original .path23:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(127, 74, 65);
}
.icon-pug-original .path24:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(239, 204, 163);
}
.icon-pug-original .path25:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path26:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path27:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path28:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path29:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path30:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path31:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path32:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path33:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path34:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path35:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path36:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(86, 51, 43);
}
.icon-pug-original .path37:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(68, 40, 35);
}
.icon-pug-original .path38:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(86, 51, 43);
}
.icon-pug-original .path39:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(68, 40, 35);
}
.icon-pug-original .path40:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path41:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-original .path42:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(68, 40, 35);
}
.icon-pug-original .path43:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(68, 40, 35);
}
.icon-pug-original .path44:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(68, 40, 35);
}
.icon-pug-original .path45:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(68, 40, 35);
}
.icon-pug-original .path46:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(68, 40, 35);
}
.icon-pug-original .path47:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(68, 40, 35);
}
.icon-pug-grey .path1:before {
  content: "\e93f";
  color: rgb(204, 204, 204);
}
.icon-pug-grey .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path4:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pug-grey .path5:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pug-grey .path6:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-pug-grey .path7:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path8:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(50, 50, 50);
}
.icon-pug-grey .path9:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path10:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path11:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(50, 50, 50);
}
.icon-pug-grey .path12:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pug-grey .path13:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(76, 76, 76);
}
.icon-pug-grey .path14:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path15:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path16:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path17:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path18:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pug-grey .path19:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path20:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path21:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pug-grey .path22:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pug-grey .path23:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(76, 76, 76);
}
.icon-pug-grey .path24:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-pug-grey .path25:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path26:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path27:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path28:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path29:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path30:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path31:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-grey .path32:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path33:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-grey .path34:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-grey .path35:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path36:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path37:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(50, 50, 50);
}
.icon-pug-grey .path38:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path39:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(50, 50, 50);
}
.icon-pug-grey .path40:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path41:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path42:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.icon-pug-grey .path43:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path44:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path45:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path46:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path47:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-grey .path48:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-pug-green .path1:before {
  content: "\e933";
  color: rgb(88, 249, 161);
}
.icon-pug-green .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pug-green .path5:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pug-green .path6:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(88, 249, 161);
}
.icon-pug-green .path7:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path8:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(7, 203, 96);
}
.icon-pug-green .path9:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path10:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path11:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(7, 203, 96);
}
.icon-pug-green .path12:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pug-green .path13:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(8, 228, 108);
}
.icon-pug-green .path14:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path15:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path16:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path17:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path18:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pug-green .path19:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path20:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path21:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-pug-green .path22:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pug-green .path23:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(8, 228, 108);
}
.icon-pug-green .path24:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(88, 249, 161);
}
.icon-pug-green .path25:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path26:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path27:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path28:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path29:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path30:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path31:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-green .path32:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path33:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-green .path34:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(204, 172, 141);
}
.icon-pug-green .path35:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path36:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path37:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(7, 203, 96);
}
.icon-pug-green .path38:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path39:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(7, 203, 96);
}
.icon-pug-green .path40:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path41:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path42:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(39, 248, 134);
}
.icon-pug-green .path43:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path44:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path45:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path46:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path47:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}
.icon-pug-green .path48:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(6, 179, 84);
}

