#Skills.card.hide-card
    .card-skills
        h4.static
        .lang-icons.hide
            .line-1
                span.devicon-c-plain(title="C")
                span.devicon-cplusplus-plain(title="C++")
                span.devicon-csharp-plain(title="C#")
                span.devicon-java-plain(title="Java")
                span.devicon-html5-plain(title="HTML")
                span.devicons.devicons-css3_full(title="CSS 3")
                span.devicon-javascript-plain(title="Javascript")
                span.devicon-sass-plain(title="Sass(*.scss)")
            .line-2
                span.icon-typescript-plain(title="Typescript")
                span.icon-pug-green(title="Pug(formerly Jade)")
                    span.path1
                    span.path2
                    span.path3
                    span.path4
                    span.path5
                    span.path6
                    span.path7
                    span.path8
                    span.path9
                    span.path10
                    span.path11
                    span.path12
                    span.path13
                    span.path14
                    span.path15
                    span.path16
                    span.path17
                    span.path18
                    span.path19
                    span.path20
                    span.path21
                    span.path22
                    span.path23
                    span.path24
                    span.path25
                    span.path26
                    span.path27
                    span.path28
                    span.path29
                    span.path30
                    span.path31
                    span.path32
                    span.path33
                    span.path34
                    span.path35
                    span.path36
                    span.path37
                    span.path38
                    span.path39
                    span.path40
                    span.path41
                    span.path42
                    span.path43
                    span.path44
                    span.path45
                    span.path46
                    span.path47
                    span.path48
                span.devicon-dot-net-plain(title="ASP.net")
                span.devicon-php-plain(title="PHP")
                span.devicon-nodejs-plain(title="NodeJS")
                span.devicons.devicons-netmagazine(title="C#.net (WPF & Windows Forms)")
                span.icon-objc-plain(title="iOS Application Developement(Objective-C)")
                span.devicons.devicons-swift(title="iOS Application Developement(Swift)")
            .line-3
                span.devicon-android-plain(title="Android Application Developement")
                span.devicon-angularjs-plain(title="Angular 2")
                span.icon-knockout-plain(title="KnockoutJS")
                span.devicon-gulp-plain(title="Gulp")
                span.devicons.devicons-npm(title="npm")
                span.devicon-git-plain(title="Git-scm")
                span.devicons.devicons-msql_server(title="MS SQL Server")
                span.devicon-mysql-plain(title="MySQL Server")
            .line-4
                span.devicon-oracle-original(title="Oracle Database 12g")
                span.devicon-mongodb-plain(title="MongoDB")
                span.devicons.devicons-ionic(title="Ionic 2")
                span.devicons.devicons-jquery(title="jQuery")
                span.devicons.devicons-bootstrap(title="Bootstrap")
                span.devicons.devicons-bower(title="Bower")
                span.devicons.devicons-npm(title="npm")
                span.devicons.devicons-markdown(title="Markdown")